<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    <div id="content"><h1>{% block content %}{% endblock %}</h1></div>
    </body>
</html>
