<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    <div id="content"><h1>{% block content %}{% endblock %}</h1></div>
    <div id="footer"> {% block footer %} {% endblock %} </div>
    </body>
</html>
