<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Control structures</title>
</head>
<body>
    {%  if mass %}
        {% for item in mass %}
            {{ item }} <br>
        {% endfor %}
    {% endif %}
</body>
</html>
